$font-family: 'Arial, Helvetica, sans-serif';
$background-color: #999999;
$card-background: black;
$text-white-background: #566573;
$modal-background: #566573;
$selection-padding: 70px 0;
.body {
  width: 100%;
  height: 100%;
  font-family: $font-family;
  background: $background-color;

}
.container{
  width: 100%;
  height: 100%;
  font-family: $font-family;
  background: $background-color;
}

#root {
  background-color: #566573;
}


.card-body {
  background: $card-background;
  
  .text-white {
    background: $text-white-background;
    
    &.custom-variant {
      background: lighten($text-white-background, 10%);
    }
  }
}

.modal-content {
  background: $modal-background;
  
  &.alternate {
    background: darken($modal-background, 5%);
  }
}

.selection-padding {
  padding: $selection-padding;
}


.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-dark .navbar-brand {
  color: rgb(240, 243, 245);
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;

  &:focus,
  &:hover {
    color: black;
  }
}

.w-100 {
  height: 100vh;
}

.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
}

.services .card-body i {
  font-size: 50px;
}

.team.card-body i {
  font-size: 20px;
}

@media (max-width: 767px) {
  .navbar-nav {
    text-align: center;
  }

  .carousel-item {
    height: 70vh;
  }

  .w-100 {
    height: 70vh;
  }

  .carousel-caption h5 {
    font-size: 17px;
  }

  .carousel-caption a {
    padding: 10px 15px;
    font-size: 15px;
  }

  .carousel-caption p {
    width: 100%;
    line-height: 1.5;
    font-size: 12px;
  }

  .about-text {
    padding-top: 50px;
  }

  .card {
    margin-bottom: 30px;
  }

  .selection-padding {
    padding: 50px 0;
  }
}

.hero-font {
  text-align: center;
  position: absolute;
  color: white;
  bottom: 0;
  transform: translate(-50%, -50%);
}