<body class="body">
 <div class="container">
    <div class="row mt-3 mb-3">
        <div class="col-lg-4 col-md-6 col-sm-12 mt-3">

            <!-- inicio card 1 -->
            <div class="card text-white text-left dg-dark pb-2 h-100">
                <div class="card-body text-left text-md-left align-self-md-left">
                    <img class="card-img-top"
                        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/lUZZhYLLDU4g4XGQ5tvjYNVytxc.jpg"> 
                    <h3 class="card-title mt-1"> Coco (2017)</h3>
                    <small>
                        <p>Fecha de Estreno: 5/10/2023 (CO)</p>
                        <p>Genero: Infantil/Aventura</p>
                        <p>tiempo duracion: 1h 45m</p>
                    </small>

                    <!-- Modal trigger button -->
                    <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                        data-bs-target="#modalId1">Ver más...</button>


                    <!-- Modal Body -->
                    <div class="modal fade" id="modalId1" tabindex="-1" data-bs-backdrop="static"
                        data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalTitleId">Sinopsis</h5>
                                </div>
                                <div class="modal-body">

                                    es un niño que sueña con ser músico, pero su familia se lo prohíbe
                                    porque su tatarabuelo, músico, los abandonó, y quieren obligar a Miguel
                                    a
                                    ser zapatero, como todos los miembros de la familia. Por accidente,
                                    Miguel
                                    entra en la Tierra de los Muertos, de donde sólo podrá salir si un
                                    familiar
                                    difunto le concede su bendición, pero su tatarabuela se niega a dejarlo
                                    volver con los vivos si no promete que no será músico. Debido a eso,
                                    Miguel
                                    escapa de ella y empieza a buscar a su tatarabuelo.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-warning"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- fin card 1 -->
        </div>

        <!-- targeta dos -->
        <div class="col-lg-4 col-md-6 col-sm- 12 mt-3">
            <div class="card text-white text-left dg-dark pb-2 h-100">
                <div class="card-body text-left text-md-left align-self-md-left">
                    <div class="card-body">
                        <img class="card-img-top"
                            src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/swWeaduAgr00IzOoBPvNZuxCUiH.jpg">
                        <h3 class="card-title mt-1">El exorcista: Creyente (2023)</h3>
                        <p>Fecha de Estreno: 5/10/2023 (CO)</p>
                        <p>Genero: Terror</p>
                        <p>tiempo duracion: 2h 1m</p>
                            <!-- Modal trigger button -->
                            <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                data-bs-target="#modalId2">Ver más...</button>
                            <!-- Modal Body -->
                            <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                            <div class="modal fade" id="modalId2" tabindex="-1" data-bs-backdrop="static"
                                data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId"
                                aria-hidden="true">
                                <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
                                    role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="modalTitleId">Sinopsis</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Victor percibe con horror que su hija, Angela, y la amiga de esta,
                                            Katherine, muestran síntomas de haber sido poseídas por una entidad
                                            demoníaca. Desesperado, busca la ayuda de Chris MacNeil, la única
                                            persona viva que ha experimentado algo así.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-sm btn-warning"
                                                data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <!-- Optional: Place to the bottom of scripts -->
                </div>
            </div>
        </div>
        <!-- targeta tres -->
        <div class="col-lg-4 col-md-6 col-sm- 12 mt-3">
            <div class="card text-white text-left dg-dark pb-2 h-100">
                <div class="card-body">
                    <img class="card-img-top"
                        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/rLu0yO1qCZnWevzofNNFfzJ30tM.jpg">
                    <h3 class="card-title">Ajuste de cuentas (2023)</h3>
                    <p>Fecha de Estreno: 29/9/2023 (US)</p>
                    <p>Genero: Acción, Crimen, Drama, Suspense</p>
                    <p>tiempo duracion: 1h 40m</p>
                    <!-- Modal trigger button -->
                    <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                        data-bs-target="#modalId3">Ver más...</button>
                    <!-- Modal Body -->
                    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                    <div class="modal fade" id="modalId3" tabindex="-1" data-bs-backdrop="static"
                        data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalTitleId">Sinopsis</h5>
                                </div>
                                <div class="modal-body">
                                    El oficial Jake Rosser presencia el impactante asesinato de su compañero
                                    a manos de un misterioso asaltante. Mientras investiga, descubre una
                                    gran conspiración.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-warning"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Optional: Place to the bottom of scripts -->
                </div>
            </div>
        </div>


        <!--targeta cuatro -->
        <div class="col-lg-4 col-md-6 col-sm- 12 mt-3">
            <div class="card text-white text-left dg-dark pb-2 h-100">
                <div class="card-body">
                    <img class="card-img-top"
                        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/tVj5dn15iwkMhjU2wIih1yMy5LK.jpg">
                    <h3 class="card-title">Gran Turismo (2023)</h3>
                    <p>Fecha de Estreno: 11/8/2023 (US)</p>
                    <p>Genero: Aventura, Acción, Drama</p>
                    <p>tiempo duracion: 2h 15m</p>
                    <!-- Modal trigger button -->
                    <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                        data-bs-target="#modalId4">Ver más...</button>
                    <!-- Modal Body -->
                    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                    <div class="modal fade" id="modalId4" tabindex="-1" data-bs-backdrop="static"
                        data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalTitleId">Sinopsis</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">

                                    El joven Jann Mardenborough gana una serie de competiciones del
                                    videojuego
                                    Gran Turismo organizadas por una importante empresa automovilística y
                                    obtiene la oportunidad de convertirse en piloto de carreras profesional.
                                    Pero eso no será un juego.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-warning"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- targeta cinco -->
        <div class="col-lg-4 col-md-6 col-sm- 12 mt-3">
            <div class="card text-white text-left dg-dark pb-2 h-100">
                <div class="card-body">
                    <img class="card-img-top"
                        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/z5mkvXYNRauSzHdZgxAj6MzrLTY.jpg">
                    <h3 class="card-title">Blue Beetle (2023)</h3>
                    <p>Fecha de Estreno: 5/10/2023 (CO)</p>
                    <p>Genero: Terror</p>
                    <p>tiempo duracion: 2h 1m</p>
                    <!-- Modal trigger button -->
                    <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                        data-bs-target="#modalId5">Ver más...</button>
                    <!-- Modal Body -->
                    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                    <div class="modal fade" id="modalId5" tabindex="-1" data-bs-backdrop="static"
                        data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalTitleId">sinopsis</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    El Escarabajo, una antigua reliquia extraterrestre, elige al estudiante
                                    Jaime Reyes como el huésped simbiótico en cuyo cuerpo resguardarse. A
                                    partir
                                    de ese momento, Jaime desarrolla una armadura que le otorga poderes
                                    increíbles e impredecibles.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-warning"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Optional: Place to the bottom of scripts -->
                </div>
            </div>
        </div>
        <!-- targeta seis -->
        <div class="col-lg-4 col-md-6 col-sm- 12 mt-3">
            <div class="card text-white text-left dg-dark pb-2 h-100">
                <div class="card-body">
                    <img class="card-img-top"
                        src="https://www.themoviedb.org/t/p/w600_and_h900_bestv2/qDRrP4NATGTWH8ORJV6T0BeoIhQ.jpg">
                    <h3 class="card-title">Fast & Furious X (2023)</h3>
                    <p>Fecha de Estreno: 18/5/2023 (CO)</p>
                    <p>Genero: Acción, Acción, Crimen, Suspense</p>
                    <p>tiempo duracion: 2h 22m</p>
                    <!-- Modal trigger button -->
                    <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                        data-bs-target="#modalId6">Ver más...</button>
                    <!-- Modal Body -->
                    <!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
                    <div class="modal fade" id="modalId6" tabindex="-1" data-bs-backdrop="static"
                        data-bs-keyboard="false" role="dialog" aria-labelledby="modalTitleId"
                        aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm"
                            role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalTitleId">Sinopsis</h5>
                                </div>
                                <div class="modal-body">
                                    Dom Toretto y sus familias se enfrentan al peor enemigo imaginable, uno
                                    llegado desde el pasado con sed de venganza, dispuesto a cualquier cosa
                                    con
                                    tal de destruir todo aquello que Dom ama.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-sm btn-warning"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Optional: Place to the bottom of scripts -->
                </div>
            </div>
        </div>
    </div>
</div>
</body>